.about-me h1 {
  font-size: 3rem;
  background: linear-gradient(to right, #00baff, #063ef9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}

.my-stack {
  margin-top: 10rem;
}

.my-stack h2 {
  background: linear-gradient(to right, #00baff, #063ef9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}
