@import url("https://fonts.googleapis.com/css2?family=BioRhyme:wght@200;300;400;700;800&display=swap");

body {
  margin: 0;
  font-family: "BioRhyme", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-biorhyme {
  font-family: "BioRhyme", serif;
}

.list-style-none {
  list-style: none;
}

.font-size-medium {
  font-size: 1.5rem;
}

.font-size-medium1 {
  font-size: 1.125rem;
}

/* color */
.fg-black {
  color: #141b2b;
}

.fg-grey {
  color: #4e4b66;
}

.fg-grey1 {
  color: #a0adbd;
}

/* background color */
.bg-grey {
  background-color: rgba(247, 247, 252);
}

@media only screen and (max-width: 576px) {
  .hidden-xxs {
    visibility: hidden;
  }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
  .custom-container {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .custom-container {
    width: 100%;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .custom-container {
    width: 70%;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1400px) {
  .custom-container {
    width: 60%;
  }
}

@media only screen and (min-width: 1400px) {
  .custom-container {
    width: 55%;
  }
}
